@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --background-color: #a4a4a4;
    --primary-color: #14279b;
    --accent: #002bba;
    --secondary-color: #16c79a;
    --text-color: #f5f5f5;
}

body {
    color: #222;
    font-family: 'Open Sans', sans-serif;
}

/* nav */
nav ul {
    background-color: var(--accent);
    display: flex;
    min-height: 10vh;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
}

nav ul li {
    list-style: none;
    text-decoration: none;
}

a {
    font-weight: 900;
    font-size: 1.2rem;
    color: var(--text);
}

a:link {
    text-decoration: none; 
}

a:hover {
    color: var(--secondary-color); 
}

/* sections */
.hero {
    display: flex;
    min-height: 60vh;
    background-image: linear-gradient(45deg, rgba(3, 38, 179, 0.3), rgba(255, 255, 255, 0.6)), url('/img/bobby.jpeg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 900;
}

.hero p {
    font-size: 2rem;
    font-weight: 900;
    color: var(--background-color);
}
/* */

/* footer */
@media (max-width: 768px){
    nav ul {
        background-color: var(--accent);
        display: flex;
        flex-direction: column;
        min-height: 10vh;
        padding: 1rem;
        align-items: center;
        justify-content: space-around;
        color: var(--text-color);
    }
}