@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --background-color: #a4a4a4;
    --primary-color: #14279b;
    --secondary-color: #16c79a;
    --text-color: #f5f5f5;
}

body {
    color: #222;
    font-family: 'Open Sans', sans-serif;
}
